[build]
  publish = "."
  command = ""

[[redirects]]
  from = "/api/*"
  to = "https://example-external-service.com/:splat"
  status = 200
  force = true

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "SAMEORIGIN"
    X-Content-Type-Options = "nosniff"
